In [1]:
import pandas as pd

In [2]:
# Create a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
print(s[2])
print(s.iloc[3])
print(s[1:4])
print(s.iloc[1:4])

30
40
1    20
2    30
3    40
dtype: int64
1    20
2    30
3    40
dtype: int64

In [35]:
print(s.values)
print(s.index)
print(s.shape)
print(s.size)
print(s.min())
print(s.max())
print(s.sum())
print(s.mean())
print(s.nunique(), ", ", s.unique())
print(s.sort_index())
print(s.sort_values())
print(s.isnull())
#print(s.apply())

[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
(5,)
5
10
50
150
30.0
5 ,  [10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [36]:
# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [37]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [38]:
print(df.iloc[2])

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object

In [39]:
print(df.loc[2])

Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object

In [41]:
print(df[['Name', 'Age']])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

In [42]:
print(df[1:3])

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [45]:
print(df['Age'].unique())
print(df['Age'].nunique())

[25 30 35 28]
4

In [46]:
print(df['Age'] > 25)

0    False
1     True
2     True
3     True
Name: Age, dtype: bool

In [47]:
df.to_csv('trading_data.csv', index=False)

In [51]:
print(df.shape)
print(df.info())
print(df.describe())

(4, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None
             Age
count   4.000000
mean   29.500000
std     4.203173
min    25.000000
25%    27.250000
50%    29.000000
75%    31.250000
max    35.000000

In [83]:
print(df.head(2))
print(df.tail(2), "\n\n")
print(df['Age'].mean(), df['Age'].sum(), df['Age'].min(), df['Age'].max())
print(df.sort_values(by='Age'))
#print(df.groupby(by = df[0]))

    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco
      Name  Age         City
2  Charlie   35  Los Angeles
3    David   28      Chicago


29.5 118 25 35
      Name  Age           City
0    Alice   25       New York
3    David   28        Chicago
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles